/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #fff;
    background: #080808;
    /* color: #797979;
    background: #f5f5f5; */
    /* background: #ffffff; */
    font-family: 'Montserrat', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #fff;
}

a {
    color: #313131;
    transition: .3s;
}

a:hover,
.contact-link{
    color: #ffffff;
}

.contact-link:hover {
    color: #414141;
    color: #ff004f;
    box-shadow: inset 0 0 0 0 #ff004f;
    text-decoration: none;
  }
a:active,
a:focus {
    color: #ff004f;
    outline: none;
    text-decoration: none;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;;
}

.btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #ff004f;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px #ff004f;
    transition: ease-out 0.3s;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.btn:hover {
    color: #ff004f;
    background: #fff;
    border-color: #ff004f;
    box-shadow: inset 0 0 0 0 #ff004f;
}

#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-out, visibility 0s linear .3s;
    -o-transition: opacity .3s ease-out, visibility 0s linear .3s;
    transition: opacity .3s ease-out, visibility 0s linear .3s;
    z-index: 999;
}

#loader.show {
    -webkit-transition: opacity .6s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .6s ease-out, visibility 0s linear 0s;
    transition: opacity .6s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 991px) {
    #navbarCollapse {
        background: #080808;
        opacity: 0.8;
    }
}


#loader .loader {
    position: relative;
    width: 45px;
    height: 45px;
    border: 5px solid #dddddd;
    border-top: 5px solid #ff004f;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.back-to-top {
    position: fixed;
    display: none;
    width: 44px;
    height: 44px;
    padding: 8px 0;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
}

.back-to-top:hover i {
    color: #414141;
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: .5s;
    width: 100% !important; 
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);

}

.navbar .navbar-brand {
    margin: 0;
    font-size: 35px;
    line-height: 0px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: .5s;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 1000px) {
    .navbar {
        position: absolute;
        width: 100% !important; 
        padding: 30px 30px 60px 10px;
        background: transparent !important;
        z-index: 9;
        margin-bottom: 150px;
        left:0;
        right: 0;
    }
    
    .navbar.nav-sticky {
        padding: 10px 30px;
        padding-bottom: 25px;
        background: #080808 !important;
    }

    .navbar .navbar-brand {
        color: #ffffff;
        margin: 25px;
    }

    .brand-letter {
        color: #ff004f;
        font-size: 100px;
    }

    .navbar.nav-sticky .navbar-brand {
        color: #fff;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link:focus {
        padding: 10px 10px 8px 10px;
        color: #797979;
        font-size: 18px;
        font-weight: 500;
    }

    .navbar-dark.nav-sticky .navbar-nav .nav-link,
    .navbar-dark.nav-sticky .navbar-nav .nav-link:focus {
        color: #414141;
    }

    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link.active {
        color: #ff004f;
    }

    .navbar-dark.nav-sticky .navbar-nav .nav-link:hover,
    .navbar-dark.nav-sticky .navbar-nav .nav-link.active {
        color: #ff004f;
    }
}

/* Additional styles for collapsed state */
@media (max-width: 999px) {
    .navbar.nav-sticky {
        padding: 10px 20px; /* Adjust padding for collapsed state */
    }
}

@media (max-width: 1000px) {   
    .navbar {
        position: absolute;
        width: 100% !important; 

        /* padding: 30px 60px; */
        background: transparent !important;
        /* border-bottom: 1px dashed rgba(256, 256, 256, .2); */
        z-index: 9;
        margin-bottom: 150px;
    }
    
    body{
        overflow-x: hidden;

    }
    .navbar .navbar-brand {
        color: #f8f9fa;
    }
    .brand-letter{
        color:#ff004f;

    } 
    .navbar .navbar-nav {
        margin-top: 15px;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    .navbar.nav-sticky {
        padding: 10px 30px;
        padding-bottom: 25px;
        background: #080808 !important;
    }
    .navbar .dropdown-menu {
        box-shadow: none;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link:focus {
        padding: 10px 10px 8px 10px;
        color: #797979;
        font-size: 18px;
        font-weight: 500;
    }
    
    .navbar-dark.nav-sticky .navbar-nav .nav-link,
    .navbar-dark.nav-sticky .navbar-nav .nav-link:focus {
        color: #414141;
    }

    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link.active {
        color: #ff004f;
    }
    
    .navbar-dark.nav-sticky .navbar-nav .nav-link:hover,
    .navbar-dark.nav-sticky .navbar-nav .nav-link.active {
        color: #ff004f;
    }
}

/*******************************/
/********** Hero CSS ***********/
/*******************************/
.hero {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    margin-bottom: 45px;
    padding: 120px 0 0 0;
    overflow: hidden;
    background: linear-gradient(rgb(76 11 19 / 95%), rgb(0 0 0 / 95%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 300px)
{
    .hero-row {
    display: flex;
    padding-top:200px;
    padding-left: 150px;
    }
}
.hero .container-fluid {
    margin:auto;
    padding:auto;
}

.hero .hero-image {
    position: relative;
    text-align: right;
}

.hero .hero-image img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 150px;
    margin-right: 150px;

}

.hero .hero-content {
    position: relative;
    margin-left:0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.hero .hero-text p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero .hero-text h1 {
    font-family: 'Lora', serif;
    color: #ffffff;
    font-size: 60px;
    font-weight: 1000;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.hero .hero-text h2 {
    display: inline-block;
    margin: 0;
    height: 35px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #81121f;
}

.hero .hero-text .typed-text {
    display: none;
}

.hero .hero-text .typed-cursor {
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
}

.hero .hero-btn .btn {
    margin-top: 35px;
    color: #fff;
    background: linear-gradient(rgb(76 11 19 / 95%), #080808);
    ;
    box-shadow: inset 0 0 0 50px #ff004f;

}

.hero .hero-btn .btn:hover {
    color: #ff004f;
    background: #fff;
    border-color: #ff004f;
    box-shadow: inset 0 0 0 0 #ff004f;
}

.hero .hero-btn .btn:first-child {
    margin-right: 10px;
}

@media (max-width: 991.98px) {
    .hero {
        padding-top: 60px;
    }
    
    .hero .hero-content {
        padding: 0 15px;
    }
    
    .hero .hero-text p {
        font-size: 20px;
    }
    
    .hero .hero-text h1 {
        font-size: 45px;
    }
    
    .hero .hero-text h2 {
        font-size: 25px;
        height: 25px;
    }
    
    .hero .hero-btn .btn {
        padding: 12px 30px;
        letter-spacing: 1px;
    }
}

@media (max-width: 767.98px) {
    .hero {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .hero,
    .hero .hero-text,
    .hero .hero-btn {
        width: 100%;
        text-align: center;
    }
    
    .hero .hero-text p {
        font-size: 18px;
    }
    
    .hero .hero-text h1 {
        font-size: 35px;
    }
    
    .hero .hero-text h2 {
        font-size: 22px;
        height: 22px;
    }
    
    .hero .hero-btn .btn {
        padding: 10px 15px;
        letter-spacing: 1px;
    }
}

@media (max-width: 575.98px) {
    .hero .hero-text p {
        font-size: 16px;
    }
    .hero-row {
        padding-left: 0;
    }
    .contact-left{
        flex-basis: 100% !important; 
    }
    .contact-right{
        flex-basis: 100% !important;
    }
    .hero .hero-text h1 {
        font-size: 30px;
    }
    
    .hero .hero-text h2 {
        font-size: 18px;
        height: 18px;
    }
    
    .hero .hero-btn .btn {
        padding: 8px 10px;
        letter-spacing: 0;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    margin: 15px ;
}

.section-header p {
    display: inline-block;
    margin: 30px 0 0 30px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: linear-gradient(rgb(116 28 39 / 95%), #080808);
}

.section-header p::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 11px;
    right: 0;
    left: -30px;
    background: linear-gradient(rgb(116 28 39 / 95%), #080808);;
    z-index: -1;
}

.section-header p::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    top: 11px;
    left: 3px;
    background: linear-gradient(rgb(116 28 39 / 95%), #080808);
    z-index: 1;
}

.section-header h2 {
    margin-top: 35px;
    margin-bottom: 35px;
    position: relative;
    font-size: 45px;
    font-weight: 700;
    color: #fff
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}


/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    margin: -45px 0 45px 0;
}


.about .col-lg-6 {
    padding: 0;
}

.about .section-header {
    margin-bottom: 30px;
}

.about .about-img {
    position: relative;
    height: 100%;
}

.about .about-img img {
    position: relative;
    margin-top: 55px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.about .about-content {
    padding: 45px 15px 0 15px;

}

.about .about-text p {
    font-size: 16px;
}

.about .skills {
    margin-bottom: 30px;
}

.about .skill-name {
    margin-top: 15px;
}

.about .skill-name p {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
}

.about .skill-name p:last-child {
    float: right;
}

.about .progress {
    height: 10px;
    border-radius: 10px;
    background: #dddddd;
}

.about .progress .progress-bar {
    width: 0px;
    background: #ff004f;
    border-radius: 10px;
    transition: 2s;
}

.about .about-text a.btn {
    margin-top: 15px;
}

@media (max-width: 991.98px) {
    .about .about-content {
        padding: 45px 15px 0 15px;
    }
}


/*******************************/
/******* Experience CSS ********/
/*******************************/
.experience {
    position: relative;
    padding: 45px 0 15px 0;
}

.experience .timeline {
    position: relative;
    width: 100%;
}

.experience .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #ff004f;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.experience .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 50%;
    margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
    left: 0;
    padding-right: 30px;
}

.experience .timeline .timeline-item.right {
    left: 50%;
    padding-left: 30px;
}

.experience .timeline .timeline-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 48px;
    right: -8px;
    background: #ffffff;
    border: 2px solid #ff004f;
    border-radius: 16px;
    z-index: 1;
}

.experience .timeline .timeline-item.right::after {
    left: -8px;
}

.experience .timeline .timeline-item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 46px;
    right: 10px;
    z-index: 1;
    border: 10px solid;
    border-color: transparent transparent transparent #dddddd;
}

.experience .timeline .timeline-item.right::before {
    left: 10px;
    border-color: transparent #dddddd transparent transparent;
}

.experience .timeline .timeline-date {
    position: absolute;
    width: 100%;
    top: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #ff004f;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
    color: #fff;

}

.experience .timeline .timeline-item.left .timeline-date {
    text-align: left;
    left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
    text-align: right;
    right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
    padding: 30px;
    background: linear-gradient(#080808, rgb(76 11 19 / 95%));
    position: relative;
    border-right: 5px solid #dddddd;
    box-shadow: 0 0 60px rgba(0, 0, 0, .08);
}

.experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #dddddd;
}

.experience .timeline .timeline-text h2 {
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
    color: #ff004f
}

.experience .timeline .timeline-text h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    color: #fff;
    margin-bottom:45px;

}

.experience .timeline .timeline-text p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 767.98px) {
    .experience .timeline::after {
        left: 8px;
    }

    .experience .timeline .timeline-item {
        width: 100%;
        padding-left: 38px;
    }
    
    .experience .timeline .timeline-item.left {
        padding-right: 0;
    }
    
    .experience .timeline .timeline-item.right {
        left: 0%;
        padding-left: 38px;
    }

    .experience .timeline .timeline-item.left::after, 
    .experience .timeline .timeline-item.right::after {
        left: 0;
    }
    
    .experience .timeline .timeline-item.left::before,
    .experience .timeline .timeline-item.right::before {
        left: 18px;
        border-color: transparent #dddddd transparent transparent;
    }
    
    .experience .timeline .timeline-item.left .timeline-date,
    .experience .timeline .timeline-item.right .timeline-date {
        position: relative;
        top: 0;
        right: auto;
        left: 0;
        text-align: left;
        margin-bottom: 10px;
    }
    
    .experience .timeline .timeline-item.left .timeline-text,
    .experience .timeline .timeline-item.right .timeline-text {
        border-right: none;
        border-left: 5px solid #dddddd;
    }
}

/*******************************/
/******** Portfolio CSS ********/
/*******************************/
.portfolio {
    position: relative;
    padding: 45px 0 15px 0;
}

.portfolio #portfolio-filter {
    padding: 0;
    margin: 15px 25px 25px 0;
    list-style: none;
    font-size: 0;
    text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.portfolio #portfolio-filter li {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background: #ff004f;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px #ff004f;
    transition: ease-out 0.3s;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.portfolio #portfolio-filter li:hover,
.portfolio #portfolio-filter li.filter-active {
    color: #ff004f;
    background: #fff;
    box-shadow: inset 0 0 0 0 #ff004f;
    border-color: #ff004f;
}

.portfolio .portfolio-item {
    position: relative;
}

.portfolio .portfolio-wrap {
    position: relative;
    width: 100%;
}

.portfolio .portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-img img {
    position: relative;
    display: inline-flex;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    transform: scale(1.1);
    transition: .5s;

}

.portfolio .portfolio-item:hover img {
    margin-left: 15px;

}

.portfolio .portfolio-text {
    position: relative;
    height: 60px;
    width: calc(100% - 30px);
    margin: -30px 15px 30px 15px;
    display: flex;
    align-items: center;
    background: linear-gradient(#080808, rgb(76 11 19 / 95%));
    box-shadow: 0 0 10px #fff;

}

.portfolio .portfolio-text h3 {
    width: calc(100% - 70px);
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 15px;
    white-space: nowrap;
    overflow: hidden;
}

.portfolio .portfolio-text a.btn {
    width: 50px;
    height: 50px;
    padding: 0 0 2px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 100;
}

.portfolio .portfolio-item:hover a.btn {
    color: #ff004f;
    background: #fff;
    border-color: #ff004f;
    box-shadow: inset 0 0 0 0 #ff004f;
}

.more {
    display: block;
    margin:30px auto;
    width:fit-content;
    border: 1px solid #ff004f;
    padding:14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background:#ff004f;
    transition: ease-out 0.3s;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
}
.more:hover{
    color: #ff004f;
    background: #fff;
    border-color: #ff004f;
    box-shadow: inset 0 0 0 0 #ff004f;
    text-decoration: none;
}
/*******************************/
/********* My Projects *********/
/*******************************/
#services{
    padding:30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin-top: 50px;
}

/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.testimonial {
    position: relative;
    color: #080808;
    margin: auto;
    padding: 10px 0;
    background: #080808;
    max-height: auto;
}

.testimonial .container {
    max-width: 900px;
}

.testimonial .testimonial-icon {
    margin-bottom: 45px;
    text-align: center;
}

.testimonial .testimonial-icon i {
    font-size: 60px;
    color: rgba(256, 256, 256, .5);
}

.testimonial .testimonial-item {
    position: relative;
    margin: 0 15px;
    text-align: center;
}

.testimonial .testimonial-img {
    position: relative;
    margin-bottom: 15px;
    z-index: 1;
}

.testimonial .testimonial-item img {
    margin: 0 auto;
    width: 120px;
    padding: 10px;
    border: 5px dotted #ffffff;
    border-radius: 100px;
}

.testimonial .testimonial-text {
    position: relative;
    margin-top: -70px;
    padding: 65px 35px 30px 35px;
    text-align: center;
    background: #ffffff;
    border-radius: 100px;
}

.testimonial .testimonial-item p {
    font-size: 18px;
    font-style: italic;
    color:#080808;
}

.testimonial .testimonial-text h3 {
    color: #ff004f;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.testimonial .testimonial-text h4 {
    color: #666666;
    font-size: 14px;
    margin-bottom: 0;
}

.testimonial .owl-dots {
    margin-top: 15px;
    text-align: center;
}

.testimonial .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.testimonial .owl-dot.active {
    background: #ffffff;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    background: #9a9a9a;

}

/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.blog .blog-item {
    position: relative;
    margin-bottom: 30px;
    height: 100%; 
}

.blog .blog-img {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.blog .blog-img img {
    width: 40%;
    transition: .5s;
    display:block;
    margin: 0 auto;

}

.blog .blog-item:hover img {
    transform: scale(1.1);
}

.blog .blog-text {
    position: relative;
    padding: 30px;
    border-right: 1px solid rgba(0, 0, 0, .07);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-left: 1px solid rgba(0, 0, 0, .07);
}
.btn-read-more{
    margin-top: auto;
    margin-bottom: 20px;

}
.blog .blog-text h2 {
    font-size: 25px;
    font-weight: 600;
}

.blog .blog-text p {
    margin-bottom: 10px;
}

.blog .blog-item a.btn {
    margin-top: 10px;
    padding: 8px 15px;
}

.blog .blog-item a.btn i {
    margin-left: 5px;
}

.blog .blog-meta {
    position: relative;
    display: flex;
    margin-bottom: 15px;
}

.blog .blog-meta p {
    margin: 0 10px 0 0;
    font-size: 13px;
}

.blog .blog-meta i {
    color: #414141;
    margin-right: 5px;
}

.blog .blog-meta p:last-child {
    margin: 0;
}

/*******************************/
/*********** Footer CSS ********/
/*******************************/
#contact{
    margin-top:100px;
    background: linear-gradient(#080808, rgba(53, 8, 13, 0.95));

}

.contact-book {
    color:#fff;
    margin-right: 25px;
    font-size:40px
}
.contact-me {
    color:#ff004f;
    font-size: 60px;
    margin-bottom:50px;
}
.contact-left{
    flex-basis: 50%;
}
.contact-menu {
    color: #fff;
}
.contact-book{
    flex-basis: 50%;
}
.contact-right{
    flex-basis: 50%;
}
.contact-info{
    font-size: 16px;
}
.contact-left p i{
    color:#ff004f;
    margin-right: 15px;
    font-size:15px
}

.contact-social{
    margin-top:30px;
}
.contact-social a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
}

.contact-social a:hover{
    color:#ff004f !important;
    transform:translateY(-5px);
}

.download{
    
    display: inline-block;
    margin-top:50px;
    margin-bottom:50px;
    width:fit-content;
    border: 1px solid #ff004f;
    padding:14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background:#ff004f;
    transition: ease-out 0.3s;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
        
    }

.download:hover{
    color: #ff004f;
    background: #fff;
    border-color: #ff004f;
    box-shadow: inset 0 0 0 0 #ff004f;
    text-decoration: none;
    }

.form-submit{
        display: inline-block;
        /* margin-top:50px; */
        margin-bottom:50px;
        width:fit-content;
        border: 1px solid #ff004f;
        padding:14px 50px;
        border-radius: 6px;
        text-decoration: none;
        color: #fff;
        background:#ff004f;
        transition: ease-out 0.3s;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        
    }
.typing-submit{
    margin-bottom: 50px;
    margin-left: 10px;
    /* display: none; */
}
.form-submit:hover{
        color: #ff004f;
        background: #fff;
        border-color: #ff004f;
        box-shadow: inset 0 0 0 0 #ff004f;
        text-decoration: none;
    }

.contact-right form{
    width:100%;
}
form input, form textarea{
    width: 100%;
    border:0;
    outline:none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}

  /* Add a media query for small screens */
@media (min-width: 300px) {
    .read-more-btn{
        text-align: center;
    }
    .contact-row {
        display: block;
    }
    .contact-me{
        font-size: 30px;
    }
    .contact-info h2{
        font-size: 18px;
    }
    .contact-link{
        font-size: 16px;
    }
    .contact-social{
        font-size: 20px;
    }
    .contact-left{
        flex-basis: 50%;
        text-align: center;
    }
    .contact-right{
        flex-basis: 50%;
    }
    
}
@media (min-width: 700px) {
    body{
        text-align: left;
    }
    .contact-row {
        display: flex;

    }
    .contact-me{
        font-size: 40px;
    }
    .contact-info h2{
        font-size: 20px;
    }
    .contact-link{
        font-size: 18px;
    }
    .contact-social{
        font-size: 30px;
    }

}

#msg{
    color: #61b752;
    margin-bottom: 50px;
    display: inline-block;
}

/*******************************/
/*********** Chatbot CSS *******/
/*******************************/

.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: none;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
    
}

/* CONTENT ISOPEN */
.chatbox--active {
    display: flex;
    transform: translateY(-40px);
    transition: all .5s ease-in-out;
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
    position: fixed;
    width: 44px;
    height: 44px;
    padding: 8px 0;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 20px;
    bottom: 100px;
    z-index: 9;
}
.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {

    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9;
    background: linear-gradient(rgb(0 0 0 / 95%), rgb(76 11 19 / 95%));
    height: 70%;
    height: 70%;
    width: 80%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 60px
}

@media(min-width: 700px){
    .chatbox__support {

        position: fixed;
        right: 20px;
        bottom: 20px;
        z-index: 9;
        background: linear-gradient(rgb(0 0 0 / 95%), rgb(76 11 19 / 95%));
        height: 600px;
        width: 400px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        margin-bottom: 60px
    }
}

/* HEADER */
.chatbox__header {
    
    background:#ff004f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    color: #080808;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background:#61b752;
    word-wrap: break-word;

}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: #f8f9fa;
    word-wrap: break-word;

}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: #f8f9fa;
    border-radius: 30px;
    padding: 15px 20px;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    margin-right: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

@keyframes blink { 50% { fill: transparent }}
.dot { 
    animation: 1s blink infinite;
    fill:  #ff004f;
}
.dot:nth-child(2) { animation-delay: 250ms }
.dot:nth-child(3) { animation-delay: 500ms }

.loader {
    /* background-color: #f1f1f1; */

    color:  #ff004f;
}
.contact-chatbot{
    color: #ff004f;
    text-decoration: none;
    font-style: italic;
}


#typing-system-container{
    background: transparent;
}

.dot1{
    fill:#ED798E;
}
.dot2{
    fill:#EEB575;
}
.dot3{
    fill:#6963B1;
}


.animation-ctn{
  text-align:center;
  margin-top:5em;
}

	@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 100px
    }

    100% {
        stroke-dashoffset: 200px
    }
}

@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 100px
    }

    100% {
        stroke-dashoffset: 200px
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 100px
    }

    100% {
        stroke-dashoffset: 0px
    }
}

@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 480px
   
    }

    100% {
        stroke-dashoffset: 960px;
      
    }
}

@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 480px 
    }

    100% {
        stroke-dashoffset: 960px
    }
}

@keyframes colored-circle { 
    0% {
        opacity:0
    }

    100% {
        opacity:100
    }
}

.inlinesvg .svg svg {
    display: inline
}


.icon--order-success svg polyline {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon--order-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards;
}
.icon--order-success svg circle#colored {
    -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards;
    animation: colored-circle 0.6s ease-in-out 0.7s backwards;
} 



.circle {
    stroke-dasharray: 76;
    stroke-dashoffset: 76;
    animation: draw 1s forwards;
    color: #61b752;

}

.tick {
    stroke-dasharray: 18;
    stroke-dashoffset: 18;
    animation: draw 1s forwards 1s;
    color: #61b752;

}

@keyframes draw { 
to { stroke-dashoffset: 0 } 
}  
.success-tick{
    width: 40px;
    height: 40px;
    margin-bottom:50px;
    margin-left: 50px;
}