<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Jeevan Hebbal Manjunath</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/animate.css@3.7.2/animate.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/css/lightbox.min.css" rel="stylesheet" />

    <!-- Stylesheet -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />

  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="51">
    <!-- Nav Bar Start -->
    
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      
      <a href="index.html" class="navbar-brand"><span class="brand-letter">J</span>eevan H M</a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
        
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end "
          id="navbarCollapse"
        >
          <ul class="navbar-nav ">
            <li class="nav-item active"><a href="#home" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#experience" class="nav-link">Experience</a></li>
            <li class="nav-item"><a href="#portfolio" class="nav-link">Portfolio</a></li>
            <li class="nav-item"><a href="#review" class="nav-link">Recommendation</a></li>
            <li class="nav-item"><a href="#blog" class="nav-link">Reviews</a></li>
            <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
          </ul>
        </div>
      </nav>
    <!-- Nav Bar End -->

    <!-- Hero Start -->
    <div class="hero" id="home">
      <!-- <div class="container-fluid"> -->
        <div class="row hero-row align-items-center abt">
          <div class="col-sm-12 col-md-6">
            <div class="hero-content">
              <div class="hero-text">
                <p>I'm</p>
                <h1>Jeevan Hebbal Manjunath</h1>
                <h2></h2>
                <div class="typed-text">
                  Data Scientist, NLP Engineer, Machine Learning Engineer, AI
                  Engineer, DevOps Engineer
                </div>
              </div>
              <div class="hero-btn">
                <a class="btn" href="#contact" style="margin-bottom:15px">Contact Me</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 d-none justify-content-end d-md-block">
            <div class="hero-image">
              <img src="/static/images/hero.jpg" alt="Hero Image" />
            </div>
          </div>
        </div>
      </div>

    <!-- Hero End -->

    <!-- About Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.5s" id="about">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="about-img">
              <img src="{{ url_for('static', filename='images/about.jpg') }}" alt="Image" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-content">
              <div class="section-header text-left">
                <p>Learn About Me</p>
                <h2>Jeevan H M</h2>
              </div>
              <div class="about-text">
                <p>
                  I am a self-taught AI programmer who loves to create and
                  cooperate. I have learned machine learning and data science
                  and built amazing projects in image processing, machine
                  learning and generative AI. I am always curious to explore new
                  things and work with other AI lovers and experts who share my
                  passion.
                </p>
              </div>
              <div class="skills">
                <div class="skill-name">
                  <p>Generative AI</p>
                  <p>100%</p>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <div class="skill-name">
                  <p>Natural Language Processing</p>
                  <p>100%</p>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <div class="skill-name">
                  <p>Machine Learning Engineer</p>
                  <p>100%</p>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <div class="skill-name">
                  <p>Devops</p>
                  <p>90%</p>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <div class="skill-name">
                  <p>IoT</p>
                  <p>85%</p>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Experience Start -->
    <div class="experience" id="experience">
      <div class="container">
        <header
          class="section-header text-center wow zoomIn"
          data-wow-delay="0.1s"
        >
          <p>My Professional Journey</p>
          <h2>Working Experience</h2>
        </header>
        <div class="timeline">
          <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
            <div class="timeline-text">
              <div class="timeline-date">Aug 2023 - Dec 2023</div>
              <h2>Machine Learning Engineer</h2>
              <h4>Jupiter AI Labs (Freelancing)</h4>
              <p>
                <b>Lawn AI:</b>
                <ul>
                    <li>Achieved >90% precision in drawing property boundary lines through streamlined information extraction. 
                    </li>
                    <li>
                        Attained 95% segmentation accuracy using Yolo V8 on a dataset of 1700+ labeled and augmented images.
                    </li>
                    <li>
                        Implemented a square footage determination model with a mean absolute error below 15%.
                    </li>
                </ul><br>
                <b>Honey Bot:</b> 
                <ul>
                    <li>
                        Deployed a Rasa chatbot for health-related
                        discussions, integrated ChatGPT for enhanced query handling.
                    </li>
                    <li>
                        Established a vector database for clinic recommendations,
                        ensuring personalized assistance for user inquiries.
                    </li>
                </ul>
                </p>
            </div>
          </div>
          <div
            class="timeline-item right wow slideInRight"
            data-wow-delay="0.1s"
          >
            <div class="timeline-text">
              <div class="timeline-date">Sept 2022 - Dec 2022</div>
              <h2>Machine Learning Intern</h2>
              <h4>Jupiter AI Labs</h4>
              <p>
                <b>Real-Time Cargo Detection and Counting</b>
                <ul>
                    <li>
                        Developed a model to detect, track, and count cargo undocked from a ship in real-time with 65% accuracy.
                    </li>
                    <li>
                        Implemented motion tracking using detectron2 for a 25% increase in count accuracy.
                    </li>
                </ul>
                <b>Development and Testing for UpGrad:</b>
                <ul>
                    <li>
                        Designed exercises on various topics such as Flask API, Fast API, Data Processing, model training, evaluation, hyperparameter tuning, and visualization with >85% accuracy.
                    </li>
                    <li>
                        Tested exercises using unit testing and pytest, achieving 95% coverage.
                    </li>
                </ul>
              </p>
            </div>
          </div>
          <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
            <div class="timeline-text">
              <div class="timeline-date">Aug 2021 - Nov 2021</div>
              <h2>Data Science Intern</h2>
              <h4>Incipient Technologies Pvt Ltd.</h4>
              <p>
                Engaged in confidential projects focused on achieving 95% accuracy in object detection.
Contributed to web development initiatives aimed at creating a user-friendly website
              </p>
            </div>
          </div>
          <div
            class="timeline-item right wow slideInRight"
            data-wow-delay="0.1s"
          >
            <div class="timeline-text">
              <div class="timeline-date">Sept 2020 - Dec 2020</div>
              <h2>Backend Development Intern</h2>
              <h4>DigiLocker</h4>
              <p>
                <b>Name Match Algorithm:</b>
                <ul>
                    <li>
                        Developed a Flask API that takes two words/names as input and returns a numerical score indicating how similar they are based on fuzzy logic and soundex.
                    </li>
                    <li>
                        Tested the app using unit testing and evaluated the performance of the algorithm achieving >93% accuracy.
                    </li>
                </ul>
                <b>Real and Fake Face Detection:</b>
                <ul>
                    
                    <li>Developed a model to detect and classify real faces from fake faces, such as photos or masks in real-
                        time attaining a precision of 0.95 and a recall of 0.92 on a test set of real and fake faces.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Job Experience End -->

    <!-- Portfolio Start -->
    <div class="portfolio" id="portfolio">
      <div class="container">
        <div
          class="section-header text-center wow zoomIn"
          data-wow-delay="0.1s"
        >
          <p>My Portfolio</p>
          <h2>Explore My Personal Projects</h2>
        </div>
        <div class="row">
          <div class="col-12">
            <ul id="portfolio-filter">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-1">Genrative AI</li>
              <li data-filter=".filter-2">IoT</li>
              <li data-filter=".filter-3">Natural Language Processing</li>
            </ul>
          </div>
        </div>
        <div class="row portfolio-container">
          <div
            class="col-lg-6 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp"
            data-wow-delay="0.0s"
          >
            <div class="portfolio-wrap">
              <div class="portfolio-img">
                <img src="{{ url_for('static', filename='images/portfolio-1.jpg') }}" alt="Image" />
              </div>
              <div class="portfolio-text">
                <h3>AI Podcast Generator</h3>
                <a
                  class="btn"
                  href="https://github.com/Jeevan-HM/AI-podcast"
                  >+</a
                >
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp"
            data-wow-delay="0.2s"
          >
            <div class="portfolio-wrap">
              <div class="portfolio-img">
                <img src="{{ url_for('static', filename='images/portfolio-2.jpg') }}" alt="Image" />
              </div>
              <div class="portfolio-text">
                <h3>FinBot Assistant</h3>
                <a
                  class="btn"
                  href="https://github.com/Jeevan-HM/FinBot"
                  >+</a
                >
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-6 col-sm-12 portfolio-item filter-1 filter-2 filter-3 wow fadeInUp"
            data-wow-delay="0.4s"
          >
            <div class="portfolio-wrap">
              <div class="portfolio-img">
                <img src="{{ url_for('static', filename='images/portfolio-3.jpg') }}" alt="Image" />
              </div>
              <div class="portfolio-text">
                <h3>Health Monitor</h3>
                <a
                  class="btn"
                  href="https://github.com/Jeevan-HM/Health-Analyzing-Service"
                  >+</a
                >
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-6 col-sm-12 portfolio-item filter-2 wow fadeInUp"
            data-wow-delay="0.6s"
          >
            <div class="portfolio-wrap">
              <div class="portfolio-img">
                <img src="{{ url_for('static', filename='images/portfolio-4.jpg') }}" alt="Image" />
              </div>
              <div class="portfolio-text">
                <h3>Automated Shopping Cart</h3>
                <a
                  class="btn"
                  href="https://github.com/Jeevan-HM/Automated-Shopping-Cart"
                  >+</a
                >
              </div>
            </div>
          </div>
        </div>
        <a href="https://github.com/Jeevan-HM" class="more btn">See more</a>
      </div>
    </div>
    <!-- Portfolio End -->


    <!-- Testimonial Start -->
    <div class="testimonial wow fadeInUp" data-wow-delay="0.1s" id="review">
      <div class="container">
        <div class="testimonial-icon">
          <i class="fa fa-quote-left"></i>
        </div>
        <div class="owl-carousel testimonials-carousel">
          <div class="testimonial-item">
            <div class="testimonial-img">
              <img src="{{ url_for('static', filename='images/testimonial-1.jpg') }}" alt="Image" />
            </div>
            <div class="testimonial-text">
              <p>
                Jevan is fast learner and performance outstanding performance as an individual and team player also he has good technical & analytical skills
              </p>
              <h3>Ajit Kumar</h3>
              <h4>Sr. Software Developer <i>@Digilocker</i></h4>
            </div>
          </div>
          <div class="testimonial-item">
            <div class="testimonial-img">
              <img src="{{ url_for('static', filename='images/testimonial-2.jpg') }}" alt="Image" />
            </div>
            <div class="testimonial-text">
              <p>
                Jeevan was prompt towards his work and had completed all his tasks on time. He is quick learner and was eager to learn new concepts and skills during the internship period.
              </p>
              <h3>Rushikesh Dongaonkar Patil            </h3>
              <h4>Founder Director <i>@Incipient Technologies Private Limited</i></h4>
            </div>
          </div>
          <div class="testimonial-item">
            <div class="testimonial-img">
              <img src="{{ url_for('static', filename='images/testimonial-3.jpg') }}" alt="Image" />
            </div>
            <div class="testimonial-text">
              <p>
                Jeevan excelled as an intern at Digilocker, specializing in machine learning for liveliness detection. His model efficiently distinguishes between live and fake photos using a single image, eliminating the need for video capture. Jeevan's conceptual strength in AI and timely task delivery were valuable contributions during his internship.
              </p>
              <h3>MOORCHHANA PATTANAIK</h3>
              <h4>Software Developer <i>@DigiLocker</i>
            </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Blog Start -->
    <div class="blog" id="blog">
      <div class="container">
        <div
          class="section-header text-center wow zoomIn"
          data-wow-delay="0.1s"
        >
        <i src="https://loading.io/asset/715372"></i>
          <p>My Publications</p>
          <h2>My Latest Articles</h2>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="blog-item wow fadeInUp" data-wow-delay="0.1s">
              <div class="blog-img">
                <img src="{{ url_for('static', filename='images/blog-3.jpg') }}" alt="Blog" />
              </div>
              <div class="blog-text">
                <h2>Code Crafted</h2>
                <div class="blog-meta">
                  <p><i class="far fa-user"></i>Admin</p>
                  <p><i class="far fa-list-alt"></i>IoT</p>
                  <p><i class="far fa-calendar-alt"></i>August 2022</p>
                </div>
                <p>
                  Welcome to Code Crafted, your go-to destination for a deep dive into the dynamic world of artificial intelligence! Immerse yourself in our blog where we channel our enthusiasm for AI and its ever-evolving landscape. Intrigued by the swift strides in this field, we are committed to delivering insightful content that not only explores the latest technologies but also delves into the pivotal research papers that have played a groundbreaking role in propelling AI forward. Join us on this journey as we unravel the intricacies of cutting-edge advancements and showcase the driving forces shaping the future of artificial intelligence.

                </p>
                <a class="btn btn-read-more" href="https://www.notion.so/researchpaper101/Code-Crafted-Blogs-b02fa4f8fed94e23b41850140c3a8b71?pvs=4"
                  >Read More <i class="fa fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-item wow fadeInUp" data-wow-delay="0.1s">
              <div class="blog-img">
                <img src="{{ url_for('static', filename='images/blog-1.jpg') }}" alt="Blog" />
              </div>
              <div class="blog-text">
                <h2>Automated Shopping Cart</h2>
                <div class="blog-meta">
                  <p><i class="far fa-user"></i>Admin</p>
                  <p><i class="far fa-list-alt"></i>IoT</p>
                  <p><i class="far fa-calendar-alt"></i>August 2022</p>
                </div>
                <p>
                    This system aims to streamline the checkout process in shopping centers by using a smart shopping cart. The cart displays the total price of the items in real-time, allowing customers to plan their budget effectively. Instead of traditional scanning at the counter, the cart has a barcode scanner and a touchscreen display for product information and payment processing. Customers can either pay directly at the cart using a generated UPI QR code or at a designated counter, reducing wait times and potential errors at the billing counter. This automated approach enhances efficiency and improves the overall shopping experience.
                </p>
                <a class="btn btn-read-more" href="https://www.researchgate.net/publication/362900257_Automated_Shopping_Cart"
                  >Read More <i class="fa fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-item wow fadeInUp" data-wow-delay="0.3s">
              <div class="blog-img">
                <img src="{{ url_for('static', filename='images/blog-2.jpg') }}" alt="Blog" />
              </div>
              <div class="blog-text">
                <h2>Health Monitoring System</h2>
                <div class="blog-meta">
                  <p><i class="far fa-user"></i>Admin</p>
                  <p><i class="far fa-list-alt"></i>Gen AI, IoT</p>
                  <p><i class="far fa-calendar-alt"></i>April 2023</p>
                </div>
                <p>
                    This service simplifies health tracking and improvement. Integrated with a smartwatch, it monitors real-time health metrics like heart rate, oxygen saturation, and body temperature. This enables precise and personalized health recommendations. The service identifies potential health risks, offering tailored suggestions, such as stress-reducing activities for elevated heart rates or sleep improvement strategies. Beyond smartwatch features, it includes personalized meal plans, workouts, and medication guidance. Accessible to everyone, it addresses diverse health needs, from athletes optimizing performance to busy parents seeking balance. Empowering users to proactively manage their health, the service contributes to longer, healthier lives.
                </p>
                <a class="btn btn-read-more" href="https://www.researchgate.net/publication/370410962_SMART_HEALTH_MONITORING_AND_ANALYZING_SERVICE"
                  >Read More <i class="fa fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Blog End -->

    <!-- Contact Start -->
    <div id="contact">
      <div class="container-fluid">
      <div class="container">
        <div class="row" id="contact-row">
          <div class="contact-left">
            <h1 class="contact-me"><i class="contact-book fas fa-solid fa-address-book"></i>Contact Me</h1>
            <div class="contact-info">
              <h2>Jeevan Hebbal Manjunath</h2>
              <div class="contact-menu">
                <p><a href="#" class="contact-link"></a>Bangalore, India</p>
                <p><i class="fas fa-solid fa-phone"></i><a href="tel:+919483871964" class="contact-link">+91 9483871964</a></p>
                <p><i class="fas fa-paper-plane"></i><a href="mailto:jeevanhm308@gmail.com" class="contact-link">jeevanhm308@gmail.com</a></p>
              </div>
              <div class="contact-social">
                <a href="https://twitter.com/Jeevan_H_M"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/Jeevan-HM"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/jeevan-h-m-7ba7b5182/"><i class="fab fa-linkedin-in"></i></a>
                  <br>
              </div>
              <a href="https://drive.google.com/file/d/11z5UF0qiVZ__1u6kJolsSxHFQxd4qJEX/view?usp=sharing"class="btn download" download="Jeevan H M Resume">Download CV</a>
          </div>
          </div>
          <div class="contact-right">
            <form name="submit-to-google-sheet">
              <input type="text" name="Name" placeholder="Your Name" required>
              <input type="email" name="Email" placeholder="Your Email" required>
              <input type="Subject" name="Subject" placeholder="Subject" required>
              <textarea name="Message" rows="3" placeholder="Message"></textarea>
              <div id="typing-system-container" class="messages__item messages__item--visitor">
                <button type="submit" class="btn form-submit">Submit</button>
                <span id="msg"></span>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- Contact End -->

    <!-- Chatbot Start -->
    <div class="container">
      <div class="chatbox">
          <div class="chatbox__support">
              <div class="chatbox__header">
                  <div class="chatbox__image--header">
                      <img src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-4--v1.png" alt="image">
                  </div>
                  <div class="chatbox__content--header">
                      <h4 class="chatbox__heading--header">Chat support</h4>
                      <p class="chatbox__description--header">Hi. My name is J.A.I.D. How can I help you?</p>
                  </div>
              </div>
              <div class="chatbox__messages">
                  <div></div>
              </div>
              <div class="chatbox__footer">
                  <input type="text" placeholder="Write a message...">
                  <button class="btn chatbox__send--footer send__button">&#x27A4;</button>

                </div>
          </div>
          <div class="chatbox__button">
              <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
          </div>
      </div>
  </div>

  <!-- Chatbot End -->

    <!-- Back to top button -->
    <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Pre Loader -->
    <div id="loader" class="show">
      <div class="loader"></div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="{{ url_for('static', filename='waypoints.min.js') }}""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.0/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>
    <!-- Javascript -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    
    <script>
      $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>

    <script>
      const scriptURL = 'https://script.google.com/macros/s/AKfycbxgPJkwPPLP1CV8lFFxfrN9cByAHEcJ5M5pV7yzVcZBAyDFKBvKqZy-uw-98Of4nBK1/exec'
      const form = document.forms['submit-to-google-sheet']
      const msg = document.getElementById('msg') 
      var html = ''
      
      html += '<svg id="typing-system" height="40" width="40" class="loader typing-submit">'
      html += '<circle class="dot dot1" cx="10" cy="20" r="3" style="fill:#ED798E;" />'
      html += '<circle class="dot dot2" cx="20" cy="20" r="3" style="fill:#EEB575;" />'
      html += '<circle class="dot dot3" cx="30" cy="20" r="3" style="fill:#6963B1;" />'
      html += '</svg>'
      form.addEventListener('submit', e => {
        e.preventDefault()
        msg.innerHTML = html
        fetch(scriptURL, { method: 'POST', body: new FormData(form)})
          .then(response => {
            msg.innerHTML = ""
            html = ""
            html += '<svg viewBox="0 0 26 26" class="success-tick">'
            html += '<g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">'
            html += '<path class="circle" d="M13 1C6.372583 1 1 6.372583 1 13s5.372583 12 12 12 12-5.372583 12-12S19.627417 1 13 1z"/>'
            html += '<path class="tick" d="M6.5 13.5L10 17 l8.808621-8.308621"/>'
            html += '</g>'
            html += '</svg>'
            msg.innerHTML = html
            setTimeout(function(){
              msg.innerHTML = ""
            }, 15000)
            form.reset()
          })
          .catch(error => console.error('Error!', error.message))
      })
    </script>
  </body>
</html>
